/* color */
:root {
    --color: var(--333);
    --flash: var(--f7);
    --light: var(--eee);
    --bright: var(--666);
    --deep: var(--111);
    --shadow: 0 5px 5px color-mix(in srgb, var(--ccc) 5%, transparent);
}

.logo i {background-image: url(/images/ico.svg);}

.table td em {width: 40px;height: 40px;display: block;margin: auto;}